@model MenuGenerator.Models.GeneratorOptions

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>GeneratorOptions</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="DayID" class="control-label"></label>
                <select asp-for="DayID" class="form-control" asp-items="ViewBag.DayID"></select>
                <span asp-validation-for="DayID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GeneratorID" class="control-label"></label>
                <select asp-for="GeneratorID" class="form-control" asp-items="ViewBag.GeneratorID"></select>
                <span asp-validation-for="GeneratorID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MealKindID" class="control-label"></label>
                <select asp-for="MealKindID" class="form-control" asp-items="ViewBag.MealKindID"></select>
                <span asp-validation-for="MealKindID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PopularityID" class="control-label"></label>
                <select asp-for="PopularityID" class="form-control" asp-items="ViewBag.PopularityID"></select>
                <span asp-validation-for="PopularityID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PoradieJedla" class="control-label"></label>
                <input asp-for="PoradieJedla" class="form-control" />
                <span asp-validation-for="PoradieJedla" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
