
<menu class="h-100 w-100 p-0 m-0 d-flex">

    <section class="m-auto d-flex">
        
        <a class="btn shadow-none zoom-sm mr-3" asp-action="GenerateMenu" asp-controller="Admin">
            <img src="~/bootstrap-icons/journal-plus.svg" alt="" width="100" height="100" title="Vygenerovať menu">
        </a>

        <a class="btn shadow-none zoom-sm" asp-action="Index" asp-controller="Menus">
            <img src="~/bootstrap-icons/journal-text.svg" alt="" width="100" height="100" title="Zobraziť menu">
        </a>

    </section>

</menu>