@model MenuGenerator.Models.Schedule

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Schedule</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="DatumPodavania" class="control-label"></label>
                <input asp-for="DatumPodavania" class="form-control" />
                <span asp-validation-for="DatumPodavania" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MenuID" class="control-label"></label>
                <select asp-for="MenuID" class="form-control" asp-items="ViewBag.MenuID"></select>
                <span asp-validation-for="MenuID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MealID" class="control-label"></label>
                <select asp-for="MealID" class="form-control" asp-items="ViewBag.MealID"></select>
                <span asp-validation-for="MealID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PoradieJedla" class="control-label"></label>
                <input asp-for="PoradieJedla" class="form-control" />
                <span asp-validation-for="PoradieJedla" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
