@model MenuGenerator.Models.Complexity

@{
    ViewData["Title"] = "Details";
    Layout = "_mealOptionsLayout";
}

<h1 class="text-light">Detaily</h1>

<div>
    <h4 class="text-light">Náročnosť</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2 text-light">
            @Html.DisplayNameFor(model => model.Nazov)
        </dt>
        <dd class="col-sm-10 text-light">
            @Html.DisplayFor(model => model.Nazov)
        </dd>
    </dl>
</div>
<div>
    <a class="mr-3" asp-action="Edit" asp-route-id="@Model.ID">
        <img src="~/bootstrap-icons/pen.svg" class="zoom-sm hvr-csr-pt" alt="" width="32" height="32" title="Upraviť">
    </a>
    <a class="mr-3" asp-action="Index">
        <img src="~/bootstrap-icons/card-text.svg" class="zoom-sm hvr-csr-pt" alt="" width="32" height="32" title="Zobraziť položky">
    </a>
</div>
